<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.478</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:aheritier</permission>
    <permission>hudson.model.Computer.Configure:fdrouet</permission>
    <permission>hudson.model.Computer.Connect:aheritier</permission>
    <permission>hudson.model.Computer.Connect:atleti</permission>
    <permission>hudson.model.Computer.Connect:fdrouet</permission>
    <permission>hudson.model.Computer.Connect:obouras</permission>
    <permission>hudson.model.Computer.Create:aheritier</permission>
    <permission>hudson.model.Computer.Create:fdrouet</permission>
    <permission>hudson.model.Computer.Delete:aheritier</permission>
    <permission>hudson.model.Computer.Delete:fdrouet</permission>
    <permission>hudson.model.Computer.Disconnect:aheritier</permission>
    <permission>hudson.model.Computer.Disconnect:atleti</permission>
    <permission>hudson.model.Computer.Disconnect:fdrouet</permission>
    <permission>hudson.model.Computer.Disconnect:obouras</permission>
    <permission>hudson.model.Hudson.Administer:aheritier</permission>
    <permission>hudson.model.Hudson.Administer:fdrouet</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:aheritier</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:fdrouet</permission>
    <permission>hudson.model.Hudson.Read:aheritier</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:atleti</permission>
    <permission>hudson.model.Hudson.Read:fdrouet</permission>
    <permission>hudson.model.Hudson.Read:obouras</permission>
    <permission>hudson.model.Hudson.RunScripts:aheritier</permission>
    <permission>hudson.model.Hudson.RunScripts:fdrouet</permission>
    <permission>hudson.model.Hudson.UploadPlugins:aheritier</permission>
    <permission>hudson.model.Hudson.UploadPlugins:fdrouet</permission>
    <permission>hudson.model.Item.Build:aheritier</permission>
    <permission>hudson.model.Item.Build:atleti</permission>
    <permission>hudson.model.Item.Build:fdrouet</permission>
    <permission>hudson.model.Item.Build:obouras</permission>
    <permission>hudson.model.Item.Cancel:aheritier</permission>
    <permission>hudson.model.Item.Cancel:fdrouet</permission>
    <permission>hudson.model.Item.Configure:aheritier</permission>
    <permission>hudson.model.Item.Configure:fdrouet</permission>
    <permission>hudson.model.Item.Create:aheritier</permission>
    <permission>hudson.model.Item.Create:fdrouet</permission>
    <permission>hudson.model.Item.Delete:aheritier</permission>
    <permission>hudson.model.Item.Delete:fdrouet</permission>
    <permission>hudson.model.Item.Discover:aheritier</permission>
    <permission>hudson.model.Item.Discover:atleti</permission>
    <permission>hudson.model.Item.Discover:fdrouet</permission>
    <permission>hudson.model.Item.Discover:obouras</permission>
    <permission>hudson.model.Item.ExtendedRead:aheritier</permission>
    <permission>hudson.model.Item.ExtendedRead:atleti</permission>
    <permission>hudson.model.Item.ExtendedRead:fdrouet</permission>
    <permission>hudson.model.Item.ExtendedRead:obouras</permission>
    <permission>hudson.model.Item.Read:aheritier</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:atleti</permission>
    <permission>hudson.model.Item.Read:fdrouet</permission>
    <permission>hudson.model.Item.Read:obouras</permission>
    <permission>hudson.model.Item.Workspace:aheritier</permission>
    <permission>hudson.model.Item.Workspace:anonymous</permission>
    <permission>hudson.model.Item.Workspace:atleti</permission>
    <permission>hudson.model.Item.Workspace:fdrouet</permission>
    <permission>hudson.model.Item.Workspace:obouras</permission>
    <permission>hudson.model.Run.Delete:aheritier</permission>
    <permission>hudson.model.Run.Delete:fdrouet</permission>
    <permission>hudson.model.Run.Update:aheritier</permission>
    <permission>hudson.model.Run.Update:atleti</permission>
    <permission>hudson.model.Run.Update:fdrouet</permission>
    <permission>hudson.model.Run.Update:obouras</permission>
    <permission>hudson.model.View.Configure:aheritier</permission>
    <permission>hudson.model.View.Configure:atleti</permission>
    <permission>hudson.model.View.Configure:fdrouet</permission>
    <permission>hudson.model.View.Configure:obouras</permission>
    <permission>hudson.model.View.Create:aheritier</permission>
    <permission>hudson.model.View.Create:atleti</permission>
    <permission>hudson.model.View.Create:fdrouet</permission>
    <permission>hudson.model.View.Create:obouras</permission>
    <permission>hudson.model.View.Delete:aheritier</permission>
    <permission>hudson.model.View.Delete:fdrouet</permission>
    <permission>hudson.model.View.Read:aheritier</permission>
    <permission>hudson.model.View.Read:atleti</permission>
    <permission>hudson.model.View.Read:fdrouet</permission>
    <permission>hudson.model.View.Read:obouras</permission>
    <permission>hudson.scm.SCM.Tag:aheritier</permission>
    <permission>hudson.scm.SCM.Tag:fdrouet</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <temporaryOfflineCause class="hudson.slaves.OfflineCause$SimpleOfflineCause">
        <description>
          <holder>
            <owner>hudson.slaves.Messages</owner>
          </holder>
          <key>SlaveComputer.DisconnectedBy</key>
          <args>
            <string>aheritier</string>
            <string></string>
          </args>
        </description>
      </temporaryOfflineCause>
      <name>tqa-as01</name>
      <description></description>
      <remoteFS>/mnt/data/jenkins-agent/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>tqa-as01.exoplatform.lan</host>
        <port>22</port>
        <username>tqawork</username>
        <password>diZDZmzbWv79Z6UtjR+cKw==</password>
        <privatekey>/var/lib/jenkins/.ssh/id_rsa</privatekey>
      </launcher>
      <label>tqa-as01 tqa-as</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>tqa-as02</name>
      <description></description>
      <remoteFS>/mnt/data/jenkins-agent/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
        <inDemandDelay>0</inDemandDelay>
        <idleDelay>1</idleDelay>
      </retentionStrategy>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>tqa-as02.exoplatform.lan</host>
        <port>22</port>
        <username>tqawork</username>
        <password>diZDZmzbWv79Z6UtjR+cKw==</password>
        <privatekey>/var/lib/jenkins/.ssh/id_rsa</privatekey>
      </launcher>
      <label>tqa-as02 tqa-as</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>tqa-as03</name>
      <description></description>
      <remoteFS>/mnt/data/jenkins-agent/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>tqa-as03.exoplatform.lan</host>
        <port>22</port>
        <username>tqawork</username>
        <password>diZDZmzbWv79Z6UtjR+cKw==</password>
        <privatekey>/var/lib/jenkins/.ssh/id_rsa</privatekey>
      </launcher>
      <label>tqa-as03 tqa-as</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>tqa-inj01</name>
      <description></description>
      <remoteFS>/mnt/data/jenkins-agent/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
        <inDemandDelay>0</inDemandDelay>
        <idleDelay>2</idleDelay>
      </retentionStrategy>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>tqa-inj01.exoplatform.lan</host>
        <port>22</port>
        <username>tqawork</username>
        <password>diZDZmzbWv79Z6UtjR+cKw==</password>
        <privatekey>/var/lib/jenkins/.ssh/id_rsa</privatekey>
      </launcher>
      <label>tqa-inj01 tqa-inj</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>tqa-data01</name>
      <description></description>
      <remoteFS>/mnt/data/jenkins-agent/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>tqa-data01.exoplatform.lan</host>
        <port>22</port>
        <username>tqawork</username>
        <password>diZDZmzbWv79Z6UtjR+cKw==</password>
        <privatekey>/var/lib/jenkins/.ssh/id_rsa</privatekey>
      </launcher>
      <label>tqa-data01 tqa-data</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>tqa-db01</name>
      <description></description>
      <remoteFS>/mnt/data/jenkins-agent/</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>tqa-db01.exoplatform.lan</host>
        <port>22</port>
        <username>tqawork</username>
        <password>diZDZmzbWv79Z6UtjR+cKw==</password>
        <privatekey>/var/lib/jenkins/.ssh/id_rsa</privatekey>
      </launcher>
      <label>tqa-db01 tqa-db</label>
      <nodeProperties/>
    </slave>
  </slaves>
  <quietPeriod>1</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>TQA Dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>benchmark-gateinuxp-start-jboss-as01</string>
        <string>benchmark-gateinuxp-stop-jboss-as01</string>
        <string>benchmark-plf-process-start</string>
        <string>benchmark-plf-task-download-dataset</string>
        <string>benchmark-plf-task-download-jdbc-driver</string>
        <string>benchmark-plf-task-download-scenario</string>
        <string>benchmark-plf-task-prepare-scenario</string>
        <string>benchmark-plf-task-stop-jmxtrans</string>
        <string>gatling-acme-5pages-anonymous-apache-cache</string>
        <string>gatling-acme-5pages-anonymous-apache-nocache</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          <id>dashboard_portlet_1</id>
          <name>Jenkins jobs list</name>
        </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_2</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatSlaves>
          <id>dashboard_portlet_3</id>
          <name>Slaves statistics</name>
        </hudson.plugins.view.dashboard.stats.StatSlaves>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_4</id>
          <name>Latest builds</name>
          <numBuilds>20</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>Gatein UXP</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>benchmark-gateinuxp-1node</string>
        <string>benchmark-gateinuxp-2nodes</string>
        <string>benchmark-gateinuxp-3nodes</string>
        <string>benchmark-gateinuxp-extract-results</string>
        <string>benchmark-gateinuxp-launch-jmeter</string>
        <string>benchmark-gateinuxp-start-jboss-as02</string>
        <string>benchmark-gateinuxp-start-jboss-as03</string>
        <string>benchmark-gateinuxp-start-jmxtrans-as02</string>
        <string>benchmark-gateinuxp-start-jmxtrans-as03</string>
        <string>benchmark-gateinuxp-stop-jboss-as02</string>
        <string>benchmark-gateinuxp-stop-jboss-as03</string>
        <string>benchmark-gateinuxp-stop-jmxtrans-as02</string>
        <string>benchmark-gateinuxp-stop-jmxtrans-as03</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
      </columns>
      <includeRegex>benchmark-gateinuxp.*</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          <id>dashboard_portlet_1</id>
          <name>Jenkins jobs list</name>
        </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_2</id>
          <name>Latest builds</name>
          <numBuilds>10</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <com.tikal.jenkins.plugins.multijob.views.MultiJobView>
      <owner class="hudson" reference="../../.."/>
      <name>Multi Jobs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.view.dashboard.Dashboard[2]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <com.tikal.jenkins.plugins.multijob.views.JobColumn/>
        <com.tikal.jenkins.plugins.multijob.views.StatusColumn/>
        <com.tikal.jenkins.plugins.multijob.views.WeatherColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastSuccessColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastFailureColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastDurationColumn/>
        <com.tikal.jenkins.plugins.multijob.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <columns defined-in="com.tikal.jenkins.plugins.multijob.views.MultiJobView">
        <com.tikal.jenkins.plugins.multijob.views.JobColumn/>
        <com.tikal.jenkins.plugins.multijob.views.StatusColumn/>
        <com.tikal.jenkins.plugins.multijob.views.WeatherColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastSuccessColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastFailureColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastDurationColumn/>
        <com.tikal.jenkins.plugins.multijob.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </com.tikal.jenkins.plugins.multijob.views.MultiJobView>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>PLF TC</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.projectstats.column.NumBuildsColumn/>
      </columns>
      <includeRegex>benchmark-plf.*</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          <id>dashboard_portlet_1</id>
          <name>Jenkins jobs list</name>
        </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_2</id>
          <name>Latest builds</name>
          <numBuilds>10</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
  </views>
  <primaryView>Gatein UXP</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>13</int>
          <string>DEPLOYMENT_JDBC_IDM_URL</string>
          <string>jdbc:mysql://tqa-db01.exoplatform.lan:3306/plf_idm</string>
          <string>DEPLOYMENT_JDBC_IDM_USERNAME</string>
          <string>tqawork</string>
          <string>DEPLOYMENT_JDBC_JCR_URL</string>
          <string>jdbc:mysql://tqa-db01.exoplatform.lan:3306/plf_jcr</string>
          <string>DEPLOYMENT_JDBC_JCR_USERNAME</string>
          <string>tqawork</string>
          <string>EXO_USERNAME</string>
          <string>tqa</string>
          <string>JAVA_HOME</string>
          <string>/usr/lib/jvm/jdk-sun-6u30-b12-i586/jre</string>
          <string>JBOSS_HOME</string>
          <string>/mnt/app/PLF/3.5.4/3.5.4-Jboss-LOT1</string>
          <string>JMETER_HOME</string>
          <string>${TOOLS_DIR}/jmeter/${JMETER_VERSION}</string>
          <string>JMETER_PLUGINS_VERSION</string>
          <string>0.5.3</string>
          <string>JMETER_VERSION</string>
          <string>2.7</string>
          <string>TARGET_GRAPHITE_HOST</string>
          <string>tqa-graphite.exoplatform.lan</string>
          <string>TARGET_HOST</string>
          <string>tqa-as01.exoplatform.lan</string>
          <string>TOOLS_DIR</string>
          <string>/mnt/app/tools</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>