<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Arnaud Héritier</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>9Hq3DPpX7H6HYxZwuPiRES0RRtKznPVYi97y1Rx6Cbp2JkNmbNta/v1npS2NH5wr</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>PcGtlG:67023f614d5ba2e2f72919b2d6c304ec44accaa20367105de30affa3c3eaecb0</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>aheritier@exoplatform.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>