<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Abdelaziz Tleti</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>l6IH8FkwdgF1ik6nS0w2Uh+nqFVYN1dN3D2JbYlQLcZ2JkNmbNta/v1npS2NH5wr</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>hvoUqN:a62634a332e6029c9e509c94350a8b2a6d571f3cf673777be83e6d46ed11be62</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>atleti@exoplatform.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>