<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Omar Bouras</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>oqh4UeIuzkQ+ci0CNkoYWDpFZSV9n7Ec8PUajLV5lBV2JkNmbNta/v1npS2NH5wr</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty>
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>obouras@exoplatform.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>ilWvAW:f250018dfe402c23a3e90107b133d3ef12bd6f8725660965819d7a5502a081b3</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
  </properties>
</user>